<header>
    <img src="/favicon.svg" />
    <ul>
        <li>
            <a href="#">Work</a>
        </li>
        <li>
            <a href="#">Resources</a>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Testimonials</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>

    </ul>
</header>