<header>
    <a href="#"><img src="/favicon.svg" /></a>
    <ul>
        <li>
            <a href="#">Work</a>
        </li>
        <li>
            <a href="#">Resources</a>
            <ul>
                <li><a href="#">Meet the Team</a></li>
                <li><a href="#">Our Values</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </li>
        <li>
            <a href="#">Testimonials</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>

    </ul>
</header>