---
import Hero from "../parts/hero.astro";
import Page from "../parts/page.astro";


---

<Page title="Home" description="Home">
   <Hero src="/hero-home.jpg">
    <h1>Hello World</h1>
    <p data-type="text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quaerat minima laudantium rerum perspiciatis iure suscipit nulla beatae facere! Iure quis qui sit nihil ipsam ut, praesentium voluptas maiores tenetur.
    </p>
    <button>
      Click
    </button>
    <button class="secondary">
      Click
    </button>
    <button class="white">
      Click
    </button>
  </Hero>

  <section class="bg-red-500">
    <h2>Hello World</h2>
    <h3>Hello World</h3>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. At aliquid,
      voluptate iste culpa dolorum doloremque sit delectus soluta voluptatem,
      perspiciatis esse in, nesciunt magni rem ab autem cumque accusamus
      perferendis!
    </p>
    <button>
      Click
    </button>
  </section>
</Page>
