---
import Button from "../parts/button.tsx";
import Hero from "../parts/hero.astro";
import Page from "../parts/page.astro";
import Animated from "../parts/react/animated.tsx";


---

<Page title="Home" description="Home">
   <Hero src="/hero-home.jpg">
    <Animated className="text-center max-w-xl mx-auto w-full" tag="h1" client:load>
      Websites Reimagined
    </Animated>
    <Animated delay={0.5} data-type="text" className="text-center max-w-lg w-full mx-auto" tag='p' client:load >
      Explore how our tailored web solutions can elevate your brand, boost performance, and captivate a unique audience.
    </Animated>
    <Button initial={{opacity: 0}} animate={{ opacity: 1, transition: {delay: 2, duration: 0.5} }} className="mx-auto" client:load>
      Discover How
    </Button>
  </Hero>

  <section>
    <Animated tag='h2' client:visible>
      Welcome
    </Animated>
    <Animated tag='p' client:visible>
      Explore how our tailored web solutions can elevate your brand, boost performance, and captivate a unique audience.
    </Animated>
  </section>
</Page>
